@font-face {
  font-family: 'Medium';
  src: url('Oswald-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Track';
  src: url('track.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
